/*
    primary: #141414;
    light: #F3F3F3;
    dark: #686868;

*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background: #141414;
  color: #f3f3f3;
}
.image-logo {
  max-width: 40px;
  height: auto;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
}
.logo {
  width: 30%;
}

.nav {
  width: 70%;
}
.
/*
a:link - a normal, unvisited link.
a:visited - a link the user has visited.
a:hover - a link when the user mouses over it.
a:active - a link the moment it is clicked.
*/

a{
  text-decoration: none;
} 

a:visited {
  color: #f3f3f3;
}
a:hover {
  color: #686868;
}

.main{
  display: flex;
  /* justify-content:center;
  align-items: center; */
  flex-direction: column;
  flex-wrap: wrap;

}
.popular{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.popular>img {
  width: 250px;
  height: auto;
}
